h1 {
    color: red;
}

/* wrapper square 
    (from: https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */

.wrapper {
    position: relative;
    width: 50%;
}

.wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.wrapper-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10;
}

.wrapper-content-meta-info {
    height: 1.2em;
}

#hamy-logo {
    height: 1em;
}

#project-name {
    font-size: 1em;
}

/* table styles */

.wrapper-content-table {
    position: absolute;
    width: 100%;
    height: 100%;

    font-size: 1em;
}

.wrapper-content-table tr {
    height: 40%;
}

.wrapper-content-table td {
    width: 50%;
    /* padding: 10; */
    padding-right: 10;
}

.wrapper-content-table h3 {
    font-size: 1.5em;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    height: 1.5em;
}

h3 {
    margin-top: 0;
    margin-bottom: 15;
}